<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="testng.Groups">
			<methods>
				<include name="print1"></include>
				<exclude name="print1"></exclude> 
			</methods>
		</class>
    </classes>
  </test> 
</suite>   -->


<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <packages>
	   <package name="testng"></package>
   </packages>
  </test> 
</suite> -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listenersDemo.ListenersClass"></listener>
	</listeners>
	<parameter name="URL" value="WWW.YOUTUBE.COM"/>
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="Smoke"/>
			</run>
		</groups>
		<classes>
			<class name="testng.Groups" />
		</classes>
	</test>
</suite> 









